// Colors
$color_violet_main: #8694D3;
$color_cream_main: #FFFCF6;
$color_cream_main_opacity: rgba(255, 252, 245, 0.1);
$color_black_secondary: #020202;
$color_ocre_secondary:#E6C88F;
$color_ocre_tertiary:#e9d5b0;
$color_blue_secondary: #4053B2;
$color_white: white;
$color_green: #207868;
$color_grey: #788896;
$color_marron: #AC6363;


// Borders
$border-radius: 2rem;

// Fonts
$font-family_main: 'Itim', cursive;
$font-family_secondary: 'Helvetica Neue', sans-serif;

// Margins
$margin-top_3: 3rem;
$margin-top_4: 4rem;
$margin-bottom_1: 1rem;
$margin-left_1: 1rem;